*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}
.container {
    width: 70%;
    margin: 0 auto;
}
#header {
    background-image: url(../images/banner/banner3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.hero-contant {
   text-align: right; 
    padding: 250px 150px ;
}
.hero-contant h1 {
     font-size: 65px;
    font-weight: bold;
    color: #ffffff;
    margin: 0px 0 0 520px;
}
.hero-contant p {
    color: #ffffff;
    line-height: 26px;
     margin: 0px 0 0 720px;
}
.hero-contant *{
    margin-bottom: 15px;
   
}
.btn {
     background: #ffffff;
    color: #0a6bdc;
    padding: 12px 28px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    border: none;
    margin-top: 15px;
}
.btn:hover {
    background: #96ab2b;
    color: #ffffff;
}




/* responsive  */
@media screen and (max-width:1200px) {
    .hero-contant {
             text-align: right; 
             padding: 100px 50px ;  
    }
    .hero-contant h1 {
        font-size: 40px;
         margin: 0px 0 0 400px;
    }
    .hero-contant p  {
         margin: 0px 0 0 450px;
    }
}
@media screen and (max-width:1024px) {
     .hero-contant h1 {
        font-size: 30px;
         margin: 0px 0 0 250px;
    }
    .hero-contant p  {
         margin: 0px 0 0 350px;
    }
}
@media screen and (max-width:690px) {
    .hero-contant {
        /* padding: 250px 200px ;  */
        padding-right: 20px;
    }
        .hero-contant h1 {
        font-size: 30px;
         margin: 0px 0 0 150px;
    }
    .hero-contant p  {
         margin: 0px 0 0 180px;
         font-size: 15px;
    }
}
